@font-face {
    font-family: 'Inter Regular';
    src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
}
@font-face {
    font-family: 'Inter Bold';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
}


/* Itens do cabeçalho da página */

body, html {
    padding:0;
    margin:0;
}

body {
    background-color: #131313;
}

/* Formatação da Mensagem Inicial: */

.initial-msg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#im-container {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    width: 35%;
    background-color: #131313;
    border-radius: 10px;
    animation-name: initialMessage;
    animation-duration: 0.5s;
    padding: 2%;
}
#im-container hgroup#im-title {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Inter Bold', sans-serif;
    font-size: 1.5em;
    animation-name: initialMessageTxt;
    animation-duration: 10s;
}
#im-container hgroup#im-title h1 {
    padding: 0;
    margin: 0 5px 0 0;
}
#im-container hgroup#im-title p {
    padding: 0;
    margin: 0;
}

#im-container hgroup#im-content {
    padding:0;
    margin-top: 10px;
    color: white;
    text-align: left;
    width: 95.6188%;
    height: 70%;
    font-family: 'Inter Regular', sans-serif;
    font-size: 1em;
    overflow: auto;
}
hgroup#im-content p{
    margin: 0;
    padding: 0;
}




#im-container button {
    height: 50px;
    width: 100px;
    border-style: none;
    margin-top: 10px;
    border-radius: 10px;
    font-family: 'Inter Regular', sans-serif;
}
#im-container button:hover {
    cursor: pointer;
}

@keyframes initialMessage{
    from {
        height: 0;
        width:0;
    }
    to{
        height: 50%;
        width: 35%;
    }
}

@keyframes InitialMessageTxt{
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

/* Formatação do corpo do cabeçalho */

.header {
    position: relative;
    padding:0;
    margin:0;
    background-color:#131313;
    width: 100%;
    height: 50px;
    display: flex;
}

#header-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}


/* Formatação dos itens do cabeçalho */



/* Formatação da Logo */
#logo {
    color:#FFFFFF;
    font-family: 'Inter Bold', sans-serif;
    padding:0;
    margin:0;
}
#logo:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition: filter 0.3s;
}
/* Fim da Formatação da Logo */



/* Formatação dos Ícones */

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding:0;
    margin:0;
}
#icons li {
    list-style: none;
    padding: 0;
    margin:15px;
    width: 25px;
    height:25px;
}
#icons li:hover {
    cursor: pointer;
}

#Profile-Login {
    background-image: url('../itens/ico/Perfil.png');
    background-repeat: no-repeat;
}
#Profile-Login:hover {
    background-image: url('../itens/ico/Perfil\ claro.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s;
}

#Config {
    background-image: url('../itens/ico/Config.png');
    background-repeat: no-repeat;
}
#Config:hover {
    background-image: url('../itens/ico/Config\ claro.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s;
}

#Galery {
    background-image: url('../itens/ico/Imagens.png');
    background-repeat: no-repeat;
}
#Galery:hover {
    background-image: url('../itens/ico/Imagens\ claro.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s;
}

#About-Policies {
    background-image: url('../itens/ico/AboutePolicies.png');
    background-repeat: no-repeat;
}
#About-Policies:hover {
    background-image: url('../itens/ico/AboutePolicies\ claro.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s;
}



/* Fim da Formatação do cabeçalho */

/* Formatação dos Menus */

@keyframes blackEf{
    from {
        opacity: 0;
    }

    to {
        opacity: 80%;
    }
}

@keyframes containerEf {
    from {
        height: 0;
        width: 0;
        border-radius: 0;
    }
    to {
        height: 70%;
        width: 60%;
        border-radius: 10px;
    }
}

/* Formatação dos cabeçalhos dos menus */

.MenuTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.MenuHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.MenuHead h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
}
#Xbtn {
    background-image: url('../itens/ico/x.png');
    height: 25px;
    width: 25px;
    margin: 0;
}
#Xbtn:hover {
    cursor: pointer;
}

/* Formatação dos cabeçalhos dos menus FIM */


/* menu login/cadastro: */
.Login-Singup {
    position: fixed;
    display: none;
    z-index: 200;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#containerLogSig {
    position: absolute;
    display: flex;
    z-index: 10;
    height: 70%;
    width: 60%;
    background-color: #131313;
    border-radius: 10px;
    justify-content: space-between;
    align-items: start;


    animation-name: containerEf;
    animation-duration: 0.5s;

    padding: 2%;
}
#logsigicon {
    background-image: url('../itens/ico/ProfMenuIcon2.png');
    height: 25px;
    width: 25px;
    margin-right: 10px;
}


/* menu perfil: */
.Profile {
    position: fixed;
    display: none;
    z-index: 200;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#containerProf {
    position: absolute;
    display: flex;
    z-index: 10;
    height: 70%;
    width: 60%;
    background-color: #131313;
    border-radius: 10px;
    justify-content: space-between;
    align-items: start;


    animation-name: containerEf;
    animation-duration: 0.5s;

    padding: 2%;
}
#containerProf h1 {
    color: white;
    font-family: 'Inter', sans-serif;
}


/* menu configurações: */
.Configuration {
    position: fixed;
    display: none;
    z-index: 200;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#containerConfig {
    position: absolute;
    display: flex;
    z-index: 10;
    height: 70%;
    width: 60%;
    background-color: #131313;
    border-radius: 10px;
    justify-content: space-between;
    align-items: start;


    animation-name: containerEf;
    animation-duration: 0.5s;

    padding: 2%;
}
#ConfigIcon {
    background-image:url('../itens/ico/Config.png');
    height: 25px;
    width: 25px;
    margin-right: 10px;
}


/* menu galeria: */
.Galery {
    position: fixed;
    display: none;
    z-index: 200;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#containerGalery {
    position: absolute;
    display: flex;
    z-index: 10;
    height: 70%;
    width: 60%;
    background-color: #131313;
    border-radius: 10px;
    justify-content: space-between;
    align-items: start;


    animation-name: containerEf;
    animation-duration: 0.5s;

    padding: 2%;
}
#GaleryIcon {
    background-image: url('../itens/ico/Imagens.png');
    height: 25px;
    width: 25px;
    margin-right: 10px;
}


/* menu sobre/politicas: */
.About-Policies {
    position: fixed;
    display: none;
    z-index: 200;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#containerAbPol {
    position: absolute;
    display: flex;
    z-index: 10;
    height: 70%;
    width: 60%;
    background-color: #131313;
    border-radius: 10px;
    justify-content: space-between;
    align-items: start;


    animation-name: containerEf;
    animation-duration: 0.5s;

    padding: 2%;
}
#AbtPolIcon {
    background-image: url('../itens/ico/AboutePolicies.png');
    height: 25px;
    width: 25px;
    margin-right: 10px;
}


/* classe do fundo escuro: */
#blackback {
    position: absolute;
    display: block;
    z-index: 9;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 80%;
    animation-name: blackEf;
    animation-duration: 0.5s;
}


/* Fim da Formatação dos Menus */



/* Formatação do frame principal: */

.main-frame {
    display: block;
    width: 100%;
    height:92.4vh;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

/* Fim da Formatação do frame principal*/



.no-player {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
    background-color: transparent;
}

.player {
    display: block;
    position: fixed;
    bottom: -150px;
    z-index: 4;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
}

@keyframes playerUp {
    0% {
        bottom: -150px;
        /* transform: translateY(-200px); */
    }
    100% {
        bottom: 0;
        /* transform: translateY(-200px); */
    }
}

@keyframes playerDown {
    0% {
        bottom:0;
    }
    100% {
        bottom: -150px;
    }
}

/* Formatação do player: */

#track-name {
    display: flex;
    justify-content: center;
    align-items: center;
    float: top;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 25%;
    opacity: 70%;
}
#tn-itens {
    max-width: 1200px;
    width: 100%;
    color: white;
    opacity: 100%;
    font-family: 'Inter Regular', sans-serif;
    font-size: 1.2em;
}

#player-area {
    display: flex;
    justify-content: center;
    align-items: center;
    float: bottom;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75%;
    opacity: 85%;
    background-color: black;
    color: white;
}
#pa-itens {
    display: flex;
}

#player-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#player-btns li {
    display: inline-block;
}
#player-btns li:hover {
    cursor: pointer;
}

#before-btn {
    height: 40px;
    width: 40px;
    background-image:url('../itens/ico/Before.png');
    margin: 10px;
}
#before-btn:hover {
    background-image: url('../itens/ico/Before\ claro.png');
    transition: background-image 0.3s;
}

#play-btn {
    display: block;
    height: 60px;
    width: 60px;
    background-image: url('../itens/ico/Play.png');
    margin: 10px;
}
#play-btn:hover {
    background-image: url('../itens/ico/Play\ claro.png');
    transition: background-image 0.3s;
}

#pause-btn {
    display: none;
    height: 60px;
    width: 60px;
    background-image: url('../itens/ico/Pause.png');
    margin: 10px;
}
#pause-btn:hover {
    background-image: url('../itens/ico/Pause\ claro.png');
    transition: background-image 0.3s;
}

#next-btn {
    height: 40px;
    width: 40px;
    background-image:url('../itens/ico/Next.png');
    margin: 10px;
}
#next-btn:hover {
    background-image: url('../itens/ico/Next\ claro.png');
    transition: background-image 0.3s;
}
